body
{
	background-color: black !important;
	color: #f44242 !important;
	background-image: url("https://dmmoore.files.wordpress.com/2014/11/blurry-faces.png?w=770");
	
}

h1
{
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#menuButtons
{
	text-align: center;
}

#editOptions
{
	background-color: #ccb9b3;
	text-align: center;
	border-radius: 10px;
	margin-top: 20px;
	color: black;
	display: inline-block;
	padding: 20px;
}

#heroImage
{
	margin-top: 10px;
	height: 200px;
	width: 200px;
}

.centerWrapper
{
	text-align: center;
}

.editLabel
{
	float: left;
	margin-left: 8px;
}

.myBTN
{
	margin-top: 10px;
}