body
{
        background-image: url("http://static1.wikia.nocookie.net/bureauofotherworldlyoperations/images/5/50/Wiki-background");
        color: white !important;
}

#menuButtons
{
        text-align: center;
}

#loginInfo
{
        background-color: black;
        text-align: center;
        border-radius: 5px;
        margin-top: 10px;
        color: black;
        display: inline-block;
        padding: 51px;
}

#signin
{
        background-color: lightgrey;
        border-radius: 5px;
        margin-top: 10px;
        color: black;
        display: inline-block;
        padding: 50px;
}

.centerBox
{
        text-align: center;
        font-family: Monospace, courier new, monospace;
}

.editLabel
{
        float: left;
        margin-left: 8px;
}


.myBTN
{
        margin-top: 10px;
}
